.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

button {
  width: 80px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
}

.dado {
  width: 200px;
  height: 200px;
  border: 10px solid rgb(38, 95, 250);
  border-radius: 10%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.dado.true {
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(3600deg);
  }
}