.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 8rem;
}

.process{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}